@model SearchViewModel
@{
    ViewData["Title"] = "Tour Page";
}

<div @*class="text-center"*@>
    <h5 class="display-6">Случайные предложения</h5>


    <div class="cards">

        @foreach (var tour in Model.RandomTours)
        {
            <div class="mycard ">
                <a href="#">
                    <img src="@tour.Image" asp-append-version="true" />
                </a>
            </div>
        }
        <div class="mycard">
            <ul>
                @foreach (var item in Model.ToursCount)
                {
                    if (item.Value != 0)
                    {
                        <li>@item.Key (@item.Value)</li>
                    }
                }
            </ul>
        </div>
    </div>
    <h5 class="display-6">Расширенный поиск</h5>
    <form asp-action="Search" asp-controller="Tour" asp-antiforgery="true" class="search-form">
        <div class="selects">
            @*<div>
                    <label asp-for=""></label>
                    <input type="text" asp-for="Name" />
                </div>*@
            <div>
                <label asp-for="Cost"></label>
                <input asp-for="Cost" />
            </div>
            <div class="select countrySelect">
                <select class="country" asp-for="CountryId" asp-items="Model.Countries">
                    <option selected="selected" disabled="disabled">Страны</option>
                </select>
            </div>
            <div class="select regionSelect">
                <select class="region" asp-for="RegionId" asp-items="Model.Regions" disabled>
                    <option selected="selected" disabled="disabled">Регионы</option>
                </select>
            </div>
            <div class="select">
                <select class="city" asp-for="CityId" asp-items="Model.Cities" disabled>
                    <option selected="selected" disabled="disabled">Города</option>
                </select>
            </div>
        </div>
        <div class="search-button">
            <input type="submit" value="Search" class="inputSearchButton" disabled />
        </div>
    </form>

    @*Добавление туров для теста*@
    @*<form asp-action="Index" enctype="multipart/form-data">

            <input asp-for="ImageCaption" />
            <input asp-for="ImageDescription" />
            <input asp-for="MyImage" accept="image/*" />

            <input type="submit" />
        </form>*@
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.countrySelect').on('change', '.country', function () {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetRegionsByCountryId")",
                    data: {countryId: $( ".country" ).val()},
                    dataType: "json",
                    success: function (data) {
                        $('.region').empty();
                        $('.region').append($('<option selected="selected" disabled="disabled">Регионы</option>'));
                        $.each(data, function(key, entry) {
	                        $('.region').append($('<option></option>').attr('value', entry.region_Id).text(entry.title));
                        });
                        $('.region').removeAttr('disabled');
                        $('.city').empty();
                        $('.city').append($('<option selected="selected" disabled="disabled">Города</option>'));
                        $('.city').prop( "disabled", true );
                    },
                    error: function (req, status, error) {
                        alert(error);
                    }
                });
                if (!$(".country").val()) {
                    $('.inputSearchButton').prop("disabled", true);
                } else {
                    $('.inputSearchButton').removeAttr('disabled');
                }

            });
            $('.regionSelect').on('change', '.region', function () {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetCitiesByRegionId")",
                    data: {regionId: $( ".region" ).val()},
                    dataType: "json",
                    success: function (data) {
                        $('.city').empty();
                        $('.city').append($('<option selected="selected" disabled="disabled">Города</option>'));
                        $.each(data, function(key, entry) {
	                        $('.city').append($('<option></option>').attr('value', entry.city_Id).text(entry.title));
                        });
                        $('.city').removeAttr('disabled');
                    },
                    error: function (req, status, error) {
                        alert(error);
                    }
                });
            });
        });
    </script>
}
